# Ignorar el entorno virtual
venv/

# Ignorar archivos de configuración de IDE
.vscode/
.idea/

# Ignorar archivos temporales y caché
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Ignorar archivos de Streamlit
.streamlit/